.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6vh 5vw;
    padding: 6vh 5vw;
    background-color: rgb(240, 240, 240);
}

.form {
    width: 70vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}