.footer {
    background-color: black;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: grey;
    font-size: .6rem;
    text-align: center;
    padding: 20px;
}