.btn-nav {
    background-color: darkgrey !important;
    border: none;
}

.title {
    width: 100%;
    text-align: center;
    color: grey;
}

.resume {
    padding: 30px;
    display: flex;
    justify-content: space-between;

    .formgrid {
        margin-bottom: 20px;
    }
    .values {
        width: 800px;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .totals {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-bottom: 20px;
        }
        .btn-checkout {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}