.btn-nav {
    background-color: darkgrey !important;
    border: none;
}

.title {
    width: 100%;
    text-align: center;
    color: grey;
}

.resume {
    padding: 30px;
    display: flex;
    justify-content: space-between;

    .values {
        width: 800px;
        height: 55vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .totals {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
}

.thumbnail {
    max-width: 50px;
    max-height: 50px;
    margin-right: 20px;
}

.btn-checkout {
    margin: 20px;
    display: flex;
    justify-content: center;
}