<div class="nav-bar">
    <div class="search-input">
        <p-dropdown
            [options]="products"
            [(ngModel)]="selectedProduct"
            [filter]="true"
            filterBy="title"
            [showClear]="true"
            placeholder="Seach for a product"
            (onChange)="onSelectProduct(selectedProduct)">
            <ng-template let-product pTemplate="item">
                <div class="product-item row">
                    <img src="{{product.image}}"/>
                    <p>{{product.title}}</p>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
</div>
<p-tabView>
    <p-tabPanel header="Home" [selected]="true">
        <ng-template pTemplate="item" let-item let-i="0">
            <p-carousel
            [value]="products"
            [numVisible]="3"
            [numScroll]="1"
            [circular]="true"
            [autoplayInterval]="3000"
            *ngIf="products.length > 0">
                <ng-template class="carousel-card" let-product pTemplate="item">
                    <p-card class="card" (click)="onSelectProduct(product)">
                        <img class="img" src="{{product.image}}" alt="img">
                        <h5>{{product.title}}</h5>
                        <h3 class="price">{{product.price | currency}}</h3>
                    </p-card>
                </ng-template>
            </p-carousel>
            <div class="spinner" *ngIf="products.length == 0">
                <p-progressSpinner></p-progressSpinner>
            </div>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Jewelery">
        <div class="row">
            <div
            class="category-card col-lg-3 col-md-4 col-6"
            *ngFor="let jw of jewelery">
                <p-card class="card" (click)="onSelectProduct(jw)">
                    <img class="img" src="{{jw.image}}" alt="img">
                    <br>
                    <h6>{{jw.title}}</h6>
                    <h3 class="price">{{jw.price | currency}}</h3>
                </p-card>
            </div>
            <div class="spinner" *ngIf="jewelery.length == 0">
                <p-progressSpinner></p-progressSpinner>
            </div>
        </div>
    </p-tabPanel>

    <p-tabPanel header="Men's clothing">
        <div class="row">
            <div
            class="category-card col-lg-3 col-md-4 col-6"
            *ngFor="let mc of mensClothing">
                <p-card class="card" (click)="onSelectProduct(mc)">
                    <img class="img" src="{{mc.image}}" alt="img">
                    <br>
                    <h6>{{mc.title}}</h6>
                    <h3 class="price">{{mc.price | currency}}</h3>
                </p-card>
            </div>
            <div class="spinner" *ngIf="mensClothing.length == 0">
                <p-progressSpinner></p-progressSpinner>
            </div>
        </div>
    </p-tabPanel>

    <p-tabPanel header="Women's clothing">
        <div class="row">
            <div
            class="category-card col-lg-3 col-md-4 col-6"
            *ngFor="let wc of womensClothing">
                <p-card class="card" (click)="onSelectProduct(wc)">
                    <img class="img" src="{{wc.image}}" alt="img">
                    <br>
                    <h6>{{wc.title}}</h6>
                    <h3 class="price">{{wc.price | currency}}</h3>
                </p-card>
            </div>
            <div class="spinner" *ngIf="womensClothing.length == 0">
                <p-progressSpinner></p-progressSpinner>
            </div>
        </div>
    </p-tabPanel>
</p-tabView>